// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.month-title {
  font-weight: 700;
  color: #337ab7;
  text-transform: uppercase;
  letter-spacing: 0;
}

tr.separator > th {
  @extend .month-title;
  padding-top: 2em;
}

.status-muted {
  font-size: 85%;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
}

.top-corner {
  position: absolute;
  top: 4em;
  right: 5em;
}

ul h5 {
  @extend .month-title;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: -2em;
}
