.container {
  margin-bottom: 2em;
}

header > .nav {
  margin-left: 3em;
  vertical-align: top;
  margin-top: 1.5em;
}

#flashes {
  position: fixed;
  top: 0;
  width: 100%;
}

#flashes > .alert {
}

.footer {
  margin-top: 3em;
  font-size: 85%;
}

.success {
  color: green;
}

.muted {
  color: rgba(0,0,0,0.25);
}

td.centered, th.centered {
  text-align: center;
}

.inline-block {
  display: inline-block;
}
